/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* MAIN-LINK */
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-primary {
  background-color: #7296ec;
  color: #fff;
}

.button-primary:hover {
  opacity: 0.8;
}

.button-primary:active {
  opacity: 0.6;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER-CLASSES */
.site-header {
}

.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.site-header-top-container {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.site-logo {
  display: flex;
  padding: 9px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.site-logo-img {
  width: 264px;
  height: 28px;
}


/* EXCHANGE-CLASSES */
.exchange-rates-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
}

.exchange-rates-icon {
  color: #2959ce;
}

.exchange-rates-item:not(:last-child) {
  padding-right: 25px;
}


/* SEARCH-CLASSES */
.search-system {
  margin-right: 25px;
}

.search-system-input {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  border: 0;
  border-radius: 60px;
  font-size: 14px;
  line-height: normal;
}


/* LANGUAGE-CLASSES */
.site-language {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
}

.site-language-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}

.site-language-link-active {
  background-color: #fff;
  color: #222;
}

.uz-language {
  padding: 9px 9px;
  border-radius: 50%;
  background-color: #fff;
  color: #222;
}

.ru-language {
color: #a6a6a6;
}

.site-language-item:not(:last-child) {
  margin-right: 15px;
}


/* SITENAV */
.sitenav-content {
  background-color: #fff;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  list-style: none;
}

.sitenav-link {
  color: #7f7f7f;
  text-decoration: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 34.11px;
}

.sitenav-line {
  width: 1200px;
  height: 1px;
  color: #d1d1d1;
}


/* ADS-BANNER */
.ads-img {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
}
